<a href="https://colab.research.google.com/github/Vampaxx/Pyspark_basics/blob/main/alias()%2C_asc()%2C_desc()%2C_cast()_%26_like().ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=f7db41ad7ec0f1c925dd7d03355dc5a843b0af2a554c93ecd6cc372ee9e4ae4c
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [2]:
from pyspark.sql.types import (StringType,StructField,
                               StructType,IntegerType,
                               ArrayType,MapType)
from pyspark.sql import SparkSession

from pyspark.sql.functions import col,explode,split
from pyspark.sql.functions import col,lit,when,expr

In [3]:
spark = SparkSession.builder.appName('alias_asc_desc_cast_like').getOrCreate()

- Alias() desc() asc() like() and cast() are the function on the columns of Dataframe in pyspark

In [4]:
data = [
    ('Micheal jackson','Artist',51,('black','long_hair')),\
    ('Jacky chan','Actor',45,('asian','short_hair')),\
    ('Mia Khalifa','Actress',22,('arabic','long_hair'))
]

prop_struct = StructType([
    StructField('races',StringType()),\
    StructField('hair_style',StringType())])

schema= StructType([
    StructField('Name',StringType()),\
    StructField('Occupation',StringType()),\
    StructField('Age',IntegerType()),\
    StructField('Properties',prop_struct)])


df = spark.createDataFrame(data,schema)
df.show()
df.printSchema()

+---------------+----------+---+-------------------+
|           Name|Occupation|Age|         Properties|
+---------------+----------+---+-------------------+
|Micheal jackson|    Artist| 51| {black, long_hair}|
|     Jacky chan|     Actor| 45|{asian, short_hair}|
|    Mia Khalifa|   Actress| 22|{arabic, long_hair}|
+---------------+----------+---+-------------------+

root
 |-- Name: string (nullable = true)
 |-- Occupation: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Properties: struct (nullable = true)
 |    |-- races: string (nullable = true)
 |    |-- hair_style: string (nullable = true)

## Alias()

In [9]:
df1 = df.select((df.Name.alias('Artist_name')),\
          (df.Occupation.alias('Passion')),\
          (df.Age.alias('Age_of_artist')),\
          (df.Properties.alias('Body_characteristics')))

In [29]:
df1.select(df1.Body_characteristics.getField('hair_style').alias('Hair_style')).show()

+----------+
|Hair_style|
+----------+
| long_hair|
|short_hair|
| long_hair|
+----------+

## desc() & asc()

- sort column ascending or descending order

In [21]:
df.sort(df.Age.asc()).show()

+---------------+----------+---+-------------------+
|           Name|Occupation|Age|         Properties|
+---------------+----------+---+-------------------+
|    Mia Khalifa|   Actress| 22|{arabic, long_hair}|
|     Jacky chan|     Actor| 45|{asian, short_hair}|
|Micheal jackson|    Artist| 51| {black, long_hair}|
+---------------+----------+---+-------------------+

In [28]:
df.sort(df.Age.asc()).show()

+---------------+----------+---+-------------------+
|           Name|Occupation|Age|         Properties|
+---------------+----------+---+-------------------+
|    Mia Khalifa|   Actress| 22|{arabic, long_hair}|
|     Jacky chan|     Actor| 45|{asian, short_hair}|
|Micheal jackson|    Artist| 51| {black, long_hair}|
+---------------+----------+---+-------------------+

## Cast()

- convert the cast function

In [31]:
data = [
    ('Micheal','male',56451),\
    ('Jackson','male',2456),\
    ('Aishwarya','Female',56124)]

schema = ['Emp_name','Gender','Salary']

df = spark.createDataFrame(data,schema)
df.printSchema()
df.show()

root
 |-- Emp_name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Salary: long (nullable = true)

+---------+------+------+
| Emp_name|Gender|Salary|
+---------+------+------+
|  Micheal|  male| 56451|
|  Jackson|  male|  2456|
|Aishwarya|Female| 56124|
+---------+------+------+

In [36]:
df1 = df.select(df.Emp_name,df.Gender,df.Salary.cast('int'))
df1.printSchema()
df1.show()

root
 |-- Emp_name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Salary: integer (nullable = true)

+---------+------+------+
| Emp_name|Gender|Salary|
+---------+------+------+
|  Micheal|  male| 56451|
|  Jackson|  male|  2456|
|Aishwarya|Female| 56124|
+---------+------+------+

## like()

Similar to SQL expression

In [49]:
df.filter(df.Emp_name.like('%is%')).show()

+---------+------+------+
| Emp_name|Gender|Salary|
+---------+------+------+
|Aishwarya|Female| 56124|
+---------+------+------+

In [56]:
df.filter((df.Gender.like('m%'))&(df.Emp_name.like('M%')) ).show()

+--------+------+------+
|Emp_name|Gender|Salary|
+--------+------+------+
| Micheal|  male| 56451|
+--------+------+------+