<a href="https://colab.research.google.com/github/Vampaxx/Pyspark_basics/blob/main/Column_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 3.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=68a6584123b85c6f567e804985b6a662f411b91db5315c62a111feaa98e90458
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [2]:
from pyspark.sql.types import (StringType,StructField,
                               StructType,IntegerType,
                               ArrayType,MapType)
from pyspark.sql import SparkSession

from pyspark.sql.functions import col,explode,split
from pyspark.sql.functions import col,lit,when,expr

In [3]:
spark = SparkSession.builder.appName('Column_class').getOrCreate()

## Column Class

- Column class represent a single Column in dataframe
- pyspark.sql.Column class provide several functions to work with Dataframe to manipulate the Column values, EValuate the boolean expression to filter rows, retrives a value or part of value from a Dataframe column
- One of the simplest way to create a Column class object is by using Pyspark **lit()** sql function

In [4]:
from pyspark.sql.functions import lit

Access the column from dataframe

- Access the column in multiple ways

In [11]:
data = [
    ('Micheal_jackson','Male',56451),\
    ('Jacly_chan','Male',65871),\
    ('Mia khalifa','Female',2132)
]
schema = ['Name','Gender','Salary']

df = spark.createDataFrame(data,schema)
df.printSchema()
df.show()

root
 |-- Name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Salary: long (nullable = true)

+---------------+------+------+
|           Name|Gender|Salary|
+---------------+------+------+
|Micheal_jackson|  Male| 56451|
|     Jacly_chan|  Male| 65871|
|    Mia khalifa|Female|  2132|
+---------------+------+------+

## Create new column

In [9]:
df.withColumn('Sector',when(df['Name'] == 'Micheal_jackson', 'Music_&_Production')\
              .otherwise('IT')).show()

+---------------+------+------+------------------+
|           Name|Gender|Salary|            Sector|
+---------------+------+------+------------------+
|Micheal_jackson|  Male| 56451|Music_&_Production|
|     Jacly_chan|  Male| 65871|                IT|
|    Mia khalifa|Female|  2132|                IT|
+---------------+------+------+------------------+

In [10]:
df.withColumn('Sector',lit('Producton')).show()

+---------------+------+------+---------+
|           Name|Gender|Salary|   Sector|
+---------------+------+------+---------+
|Micheal_jackson|  Male| 56451|Producton|
|     Jacly_chan|  Male| 65871|Producton|
|    Mia khalifa|Female|  2132|Producton|
+---------------+------+------+---------+

In [ ]:
##

## Access the column value

In [20]:
df.select(df['gender']=='Male').show()

+---------------+
|(gender = Male)|
+---------------+
|           true|
|           true|
|          false|
+---------------+

In [21]:
df.select(col('gender')).show()

+------+
|gender|
+------+
|  Male|
|  Male|
|Female|
+------+

In [19]:
df.filter(df['Gender']=='Male').show()

+---------------+------+------+
|           Name|Gender|Salary|
+---------------+------+------+
|Micheal_jackson|  Male| 56451|
|     Jacly_chan|  Male| 65871|
+---------------+------+------+

In [22]:
data = [
    ('Micheal jackson','Artist',51,('black','long_hair')),\
    ('Jacky chan','Actor',45,('asian','short_hair')),\
    ('Mia Khalifa','Actress',22,('arabic','long_hair'))
]

prop_struct = StructType([
    StructField('races',StringType()),\
    StructField('hair_style',StringType())])

schema= StructType([
    StructField('Name',StringType()),\
    StructField('Occupation',StringType()),\
    StructField('Age',IntegerType()),\
    StructField('Properties',prop_struct)])


df = spark.createDataFrame(data,schema)
df.show()
df.printSchema()

+---------------+----------+---+-------------------+
|           Name|Occupation|Age|         Properties|
+---------------+----------+---+-------------------+
|Micheal jackson|    Artist| 51| {black, long_hair}|
|     Jacky chan|     Actor| 45|{asian, short_hair}|
|    Mia Khalifa|   Actress| 22|{arabic, long_hair}|
+---------------+----------+---+-------------------+

root
 |-- Name: string (nullable = true)
 |-- Occupation: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Properties: struct (nullable = true)
 |    |-- races: string (nullable = true)
 |    |-- hair_style: string (nullable = true)

In [23]:
df.select(df.Properties.races).show()

+----------------+
|Properties.races|
+----------------+
|           black|
|           asian|
|          arabic|
+----------------+

In [26]:
df.filter(df.Properties.races == 'black').show()

+---------------+----------+---+------------------+
|           Name|Occupation|Age|        Properties|
+---------------+----------+---+------------------+
|Micheal jackson|    Artist| 51|{black, long_hair}|
+---------------+----------+---+------------------+