<a href="https://colab.research.google.com/github/Vampaxx/Pyspark_basics/blob/main/distinct()__%26_dropDuplicates().ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=85f4c9ad6c3b09c1a9ad9abace332e939e3accec7217dbeaa8b1cbac9934dd38
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [2]:
from pyspark.sql.types import (StringType,StructField,
                               StructType,IntegerType,
                               ArrayType,MapType)
from pyspark.sql import SparkSession

from pyspark.sql.functions import col,explode,split
from pyspark.sql.functions import col,lit,when,expr

In [3]:
spark = SparkSession.builder.appName('distinct_&_dropDuplicates').getOrCreate()

## distinct() and dropDuplicates()

- **distinct()** function is used to remove the duplicate rows (all columns)
- **dropDuplicates()** is used to drop rows based on selected ( one or multiple) columns.
- So basically, using these funcitons we can get distinct rows

In [18]:
data = [
    (1,'Micheal jackson','Data scientist',51,),\
    (2,'Jacky chan','AWS Archi',45),\
    (2,'Jacky chan','AWS Archi',45),\
    (3,'Mia Khalifa','ML engineer',22),\
    (3,'Mia Khalifa','ML engineer',22,),\
    (3,'Aryan','ML engineer',36)
]


schema = ['Emp_id','Emp_name','Section','Age']

df = spark.createDataFrame(data,schema)
df.show()

+------+---------------+--------------+---+
|Emp_id|       Emp_name|       Section|Age|
+------+---------------+--------------+---+
|     1|Micheal jackson|Data scientist| 51|
|     2|     Jacky chan|     AWS Archi| 45|
|     2|     Jacky chan|     AWS Archi| 45|
|     3|    Mia Khalifa|   ML engineer| 22|
|     3|    Mia Khalifa|   ML engineer| 22|
|     3|          Aryan|   ML engineer| 36|
+------+---------------+--------------+---+

In [19]:
df.distinct().show()

+------+---------------+--------------+---+
|Emp_id|       Emp_name|       Section|Age|
+------+---------------+--------------+---+
|     2|     Jacky chan|     AWS Archi| 45|
|     1|Micheal jackson|Data scientist| 51|
|     3|    Mia Khalifa|   ML engineer| 22|
|     3|          Aryan|   ML engineer| 36|
+------+---------------+--------------+---+

In [23]:
df.dropDuplicates(['Age','Emp_id']).show()

+------+---------------+--------------+---+
|Emp_id|       Emp_name|       Section|Age|
+------+---------------+--------------+---+
|     3|    Mia Khalifa|   ML engineer| 22|
|     3|          Aryan|   ML engineer| 36|
|     2|     Jacky chan|     AWS Archi| 45|
|     1|Micheal jackson|Data scientist| 51|
+------+---------------+--------------+---+

In [24]:
df.dropDuplicates(['Section']).show()

+------+---------------+--------------+---+
|Emp_id|       Emp_name|       Section|Age|
+------+---------------+--------------+---+
|     2|     Jacky chan|     AWS Archi| 45|
|     1|Micheal jackson|Data scientist| 51|
|     3|    Mia Khalifa|   ML engineer| 22|
+------+---------------+--------------+---+