<a href="https://colab.research.google.com/github/Vampaxx/Pyspark_basics/blob/main/filter()_%26_where_().ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=c7dcd0091dd5a9e63b9699647aaf7c290d150b9e4db2f247651649a446901555
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [2]:
from pyspark.sql.types import (StringType,StructField,
                               StructType,IntegerType,
                               ArrayType,MapType)
from pyspark.sql import SparkSession

from pyspark.sql.functions import col,explode,split
from pyspark.sql.functions import col,lit,when,expr

In [3]:
spark = SparkSession.builder.appName('filter_&where').getOrCreate()

## Filter() & where()

- Pyspark **filter()** function is used to filter the rows from dataframe based on the given condition or SQL expresion
- You can also use **where()** clause instead of **filter()** if you are coming from an SQL background, both these funcions operate exactly same.

In [4]:
data = [
    ('Micheal jackson','Artist',51,('black','long_hair')),\
    ('Jacky chan','Actor',45,('asian','short_hair')),\
    ('Mia Khalifa','Actress',22,('arabic','long_hair'))
]

prop_struct = StructType([
    StructField('races',StringType()),\
    StructField('hair_style',StringType())])

schema= StructType([
    StructField('Name',StringType()),\
    StructField('Occupation',StringType()),\
    StructField('Age',IntegerType()),\
    StructField('Properties',prop_struct)])


df = spark.createDataFrame(data,schema)
df.show()
df.printSchema()

+---------------+----------+---+-------------------+
|           Name|Occupation|Age|         Properties|
+---------------+----------+---+-------------------+
|Micheal jackson|    Artist| 51| {black, long_hair}|
|     Jacky chan|     Actor| 45|{asian, short_hair}|
|    Mia Khalifa|   Actress| 22|{arabic, long_hair}|
+---------------+----------+---+-------------------+

root
 |-- Name: string (nullable = true)
 |-- Occupation: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Properties: struct (nullable = true)
 |    |-- races: string (nullable = true)
 |    |-- hair_style: string (nullable = true)

In [35]:
print('By using where()')
df.where((df.Age<50) & (df.Occupation == 'Actor')).show()

print('By using Filter()')
df.filter((df.Age<50) & (df.Occupation == 'Actress')).show()

print('-'.join('' for x in range(100)))
print('Another method')
df.filter("Occupation == 'Actor'").show()

By using where()
+----------+----------+---+-------------------+
|      Name|Occupation|Age|         Properties|
+----------+----------+---+-------------------+
|Jacky chan|     Actor| 45|{asian, short_hair}|
+----------+----------+---+-------------------+

By using Filter()
+-----------+----------+---+-------------------+
|       Name|Occupation|Age|         Properties|
+-----------+----------+---+-------------------+
|Mia Khalifa|   Actress| 22|{arabic, long_hair}|
+-----------+----------+---+-------------------+

---------------------------------------------------------------------------------------------------
Another method
+----------+----------+---+-------------------+
|      Name|Occupation|Age|         Properties|
+----------+----------+---+-------------------+
|Jacky chan|     Actor| 45|{asian, short_hair}|
+----------+----------+---+-------------------+

In [28]:
sample = df.filter((df.Age<50) & (df.Occupation == 'Actress')).collect()

print('Access the elements from sample')
print('-'.join('' for x in range(100)))
name_       = sample[0]['Name']
occupation_ = sample[0]['Occupation']
age         = sample[0]['Age']

print(f' Name is --> {name_} \n Occupation is --> {occupation_} \n Age is --> {age}')

Access the elements from sample
---------------------------------------------------------------------------------------------------
 Name is --> Mia Khalifa
 Occupation is --> Actress
 Age is --> 22