<a href="https://colab.research.google.com/github/Vampaxx/Pyspark_basics/blob/main/orederBy()_%26_sort().ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 2.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=ec6fbbbd94758da65ef199ffd8c6c37b729adb2669e565b288075fec6ee0f591
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [2]:
from pyspark.sql.types import (StringType,StructField,
                               StructType,IntegerType,
                               ArrayType,MapType)
from pyspark.sql import SparkSession

from pyspark.sql.functions import col,explode,split
from pyspark.sql.functions import col,lit,when,expr

In [4]:
spark  = SparkSession.builder.appName('orderBy_&_sort()').getOrCreate()

## orderBy() & sort()

- You can use either sort() or orderBy() function of Pyspark DataFrame to sort Dataframe by ascending or descending order based on single or multiple columns

- By default , sorting will happen in ascending oreder. We can explicity mention ascending or descending using asc() ,desc() functions.

In [5]:
data = [
    (1,'Micheal','Male',2312,'IT'),\
    (2,'Jackson','Male',1245,'HR'),\
    (3,'Mithila','Female',1451,'HR'),\
    (4,'Daniel','Female',641,'R&D'),\
    (5,'Johnson','Male',5645,'Payroll')
]

schema = ['Emp_id','Emp_name','Gender','Salary','Department']

df = spark.createDataFrame(data,schema)
df.show()

+------+--------+------+------+----------+
|Emp_id|Emp_name|Gender|Salary|Department|
+------+--------+------+------+----------+
|     1| Micheal|  Male|  2312|        IT|
|     2| Jackson|  Male|  1245|        HR|
|     3| Mithila|Female|  1451|        HR|
|     4|  Daniel|Female|   641|       R&D|
|     5| Johnson|  Male|  5645|   Payroll|
+------+--------+------+------+----------+

In [7]:
df.sort('Department','Salary').show()

+------+--------+------+------+----------+
|Emp_id|Emp_name|Gender|Salary|Department|
+------+--------+------+------+----------+
|     2| Jackson|  Male|  1245|        HR|
|     3| Mithila|Female|  1451|        HR|
|     1| Micheal|  Male|  2312|        IT|
|     5| Johnson|  Male|  5645|   Payroll|
|     4|  Daniel|Female|   641|       R&D|
+------+--------+------+------+----------+

In [10]:
## sort the Salary column in ascending order

df.sort(df.Salary.desc()).show()

+------+--------+------+------+----------+
|Emp_id|Emp_name|Gender|Salary|Department|
+------+--------+------+------+----------+
|     5| Johnson|  Male|  5645|   Payroll|
|     1| Micheal|  Male|  2312|        IT|
|     3| Mithila|Female|  1451|        HR|
|     2| Jackson|  Male|  1245|        HR|
|     4|  Daniel|Female|   641|       R&D|
+------+--------+------+------+----------+

## orderBy()

In [11]:
df.orderBy(df.Salary.desc()).show()

+------+--------+------+------+----------+
|Emp_id|Emp_name|Gender|Salary|Department|
+------+--------+------+------+----------+
|     5| Johnson|  Male|  5645|   Payroll|
|     1| Micheal|  Male|  2312|        IT|
|     3| Mithila|Female|  1451|        HR|
|     2| Jackson|  Male|  1245|        HR|
|     4|  Daniel|Female|   641|       R&D|
+------+--------+------+------+----------+

In [21]:
df.orderBy(['Salary'],ascending=[False]).show()

df.orderBy('Salary').show()

+------+--------+------+------+----------+
|Emp_id|Emp_name|Gender|Salary|Department|
+------+--------+------+------+----------+
|     5| Johnson|  Male|  5645|   Payroll|
|     1| Micheal|  Male|  2312|        IT|
|     3| Mithila|Female|  1451|        HR|
|     2| Jackson|  Male|  1245|        HR|
|     4|  Daniel|Female|   641|       R&D|
+------+--------+------+------+----------+

+------+--------+------+------+----------+
|Emp_id|Emp_name|Gender|Salary|Department|
+------+--------+------+------+----------+
|     4|  Daniel|Female|   641|       R&D|
|     2| Jackson|  Male|  1245|        HR|
|     3| Mithila|Female|  1451|        HR|
|     1| Micheal|  Male|  2312|        IT|
|     5| Johnson|  Male|  5645|   Payroll|
+------+--------+------+------+----------+

In [23]:
df.orderBy(['Department'],ascending=[False]).show()

+------+--------+------+------+----------+
|Emp_id|Emp_name|Gender|Salary|Department|
+------+--------+------+------+----------+
|     4|  Daniel|Female|   641|       R&D|
|     5| Johnson|  Male|  5645|   Payroll|
|     1| Micheal|  Male|  2312|        IT|
|     3| Mithila|Female|  1451|        HR|
|     2| Jackson|  Male|  1245|        HR|
+------+--------+------+------+----------+