<a href="https://colab.research.google.com/github/Vampaxx/Pyspark_basics/blob/main/Parquet_file.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
! pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 3.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=b38fe7c092d706ced272d1f788102611336f54175219db12616332a58a2ce6b8
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
csv_file = ('/content/drive/MyDrive/Pyspark/datas/Clean_Dataset.csv')

In [7]:
from pyspark.sql import SparkSession

In [8]:
# create session
spark = SparkSession.builder.appName('parquet_file').getOrCreate()

In [9]:
parquet_file_path = ('/content/drive/MyDrive/Pyspark/datas/airline_parquet_file.parquet/part-00000-a6675740-169c-447d-9690-07ec2022a8ef-c000.snappy.parquet')

In [10]:
df = spark.read.parquet(parquet_file_path)

## Another method to read parquet file

In [11]:
df = spark.read.format('parquet').load(parquet_file_path)

In [12]:
# Find number of rows of data in dataframe
df.count()

176863

In [13]:
## read multiple parquet file
df = spark.read.format('parquet').load('/content/drive/MyDrive/Pyspark/datas/airline_parquet_file.parquet/*.parquet')
df.count()

300153

## write

### Save modes

- Overwrite - this mode is used to overwrite the existing files
- append    - To add the data to existing file
- Ignore    - Ignore the write operaion while file is already exists
- error     - This is default optioon when the file is already exists, it       return an error

## Show()

In [41]:
df = spark.read.option('header',True)\
     .option('inferschema','true')\
     .csv(csv_file).withColumnRenamed('_c0','Emp_Id')

In [45]:
df.show(truncate=5,n=4)

+------+-------+------+-----------+--------------+-----+------------+----------------+-----+--------+---------+-----+
|Emp_Id|airline|flight|source_city|departure_time|stops|arrival_time|destination_city|class|duration|days_left|price|
+------+-------+------+-----------+--------------+-----+------------+----------------+-----+--------+---------+-----+
|     0|  Sp...| SG...|      Delhi|         Ev...| zero|       Night|           Mu...|Ec...|    2.17|        1| 5953|
|     1|  Sp...| SG...|      Delhi|         Ea...| zero|       Mo...|           Mu...|Ec...|    2.33|        1| 5953|
|     2|  Ai...| I5...|      Delhi|         Ea...| zero|       Ea...|           Mu...|Ec...|    2.17|        1| 5956|
|     3|  Vi...| UK...|      Delhi|         Mo...| zero|       Af...|           Mu...|Ec...|    2.25|        1| 5955|
+------+-------+------+-----------+--------------+-----+------------+----------------+-----+--------+---------+-----+
only showing top 4 rows

In [44]:
df.show(truncate=False,n=2,)

+------+--------+-------+-----------+--------------+-----+------------+----------------+-------+--------+---------+-----+
|Emp_Id|airline |flight |source_city|departure_time|stops|arrival_time|destination_city|class  |duration|days_left|price|
+------+--------+-------+-----------+--------------+-----+------------+----------------+-------+--------+---------+-----+
|0     |SpiceJet|SG-8709|Delhi      |Evening       |zero |Night       |Mumbai          |Economy|2.17    |1        |5953 |
|1     |SpiceJet|SG-8157|Delhi      |Early_Morning |zero |Morning     |Mumbai          |Economy|2.33    |1        |5953 |
+------+--------+-------+-----------+--------------+-----+------------+----------------+-------+--------+---------+-----+
only showing top 2 rows

In [48]:
df.show(truncate=False,n=4,vertical=True)

-RECORD 0-------------------------
 Emp_Id           | 0
 airline          | SpiceJet
 flight           | SG-8709
 source_city      | Delhi
 departure_time   | Evening
 stops            | zero
 arrival_time     | Night
 destination_city | Mumbai
 class            | Economy
 duration         | 2.17
 days_left        | 1
 price            | 5953
-RECORD 1-------------------------
 Emp_Id           | 1
 airline          | SpiceJet
 flight           | SG-8157
 source_city      | Delhi
 departure_time   | Early_Morning
 stops            | zero
 arrival_time     | Morning
 destination_city | Mumbai
 class            | Economy
 duration         | 2.33
 days_left        | 1
 price            | 5953
-RECORD 2-------------------------
 Emp_Id           | 2
 airline          | AirAsia
 flight           | I5-764
 source_city      | Delhi
 departure_time   | Early_Morning
 stops            | zero
 arrival_time     | Early_Morning
 destination_city | Mumbai
 class            | Economy
 duration         | 2.17
 days_left        | 1
 price            | 5956
-RECORD 3-------------------------
 Emp_Id           | 3
 airline          | Vistara
 flight           | UK-995
 source_city      | Delhi
 departure_time   | Morning
 stops            | zero
 arrival_time     | Afternoon
 destination_city | Mumbai
 class            | Economy
 duration         | 2.25
 days_left        | 1
 price            | 5955
only showing top 4 rows