<a href="https://colab.research.google.com/github/Vampaxx/Pyspark_basics/blob/main/select().ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
! pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [5]:
from pyspark.sql.types import (StringType,StructField,
                               StructType,IntegerType,
                               ArrayType,MapType)
from pyspark.sql import SparkSession

from pyspark.sql.functions import col,explode,split
from pyspark.sql.functions import col,lit,when,expr,avg,max,round

In [6]:
spark  = SparkSession.builder.appName('select').getOrCreate()

## Select()

**select()** function is used to select single, multiple, column by index, all column from the list and nested columns from dataframe

In [7]:
data = [
    (1,'Micheal','Male',2500),
    (2,'Jackson','Male',1245),
    (3,'Mia','Female',781)
]
schema = ['Emp_id','Emp_name','Gender','Salary']

df = spark.createDataFrame(data,schema)
df.show()

+------+--------+------+------+
|Emp_id|Emp_name|Gender|Salary|
+------+--------+------+------+
|     1| Micheal|  Male|  2500|
|     2| Jackson|  Male|  1245|
|     3|     Mia|Female|   781|
+------+--------+------+------+

In [8]:
## select single or multiple columns

df.select('Emp_id','Emp_name').show()

df.select(df.Emp_id,df.Emp_name).show()

df.select(df['Emp_id'],df['Emp_name']).show()

# by using col() functions

df.select(col('Emp_id'),col('Emp_name')).show()

df.select(['Emp_id','Emp_name']).show()

+------+--------+
|Emp_id|Emp_name|
+------+--------+
|     1| Micheal|
|     2| Jackson|
|     3|     Mia|
+------+--------+

+------+--------+
|Emp_id|Emp_name|
+------+--------+
|     1| Micheal|
|     2| Jackson|
|     3|     Mia|
+------+--------+

+------+--------+
|Emp_id|Emp_name|
+------+--------+
|     1| Micheal|
|     2| Jackson|
|     3|     Mia|
+------+--------+

+------+--------+
|Emp_id|Emp_name|
+------+--------+
|     1| Micheal|
|     2| Jackson|
|     3|     Mia|
+------+--------+

+------+--------+
|Emp_id|Emp_name|
+------+--------+
|     1| Micheal|
|     2| Jackson|
|     3|     Mia|
+------+--------+

In [10]:
df.select([col for col in df.columns]).show()

df.select('*').show()

+------+--------+------+------+
|Emp_id|Emp_name|Gender|Salary|
+------+--------+------+------+
|     1| Micheal|  Male|  2500|
|     2| Jackson|  Male|  1245|
|     3|     Mia|Female|   781|
+------+--------+------+------+

+------+--------+------+------+
|Emp_id|Emp_name|Gender|Salary|
+------+--------+------+------+
|     1| Micheal|  Male|  2500|
|     2| Jackson|  Male|  1245|
|     3|     Mia|Female|   781|
+------+--------+------+------+