<a href="https://colab.research.google.com/github/Vampaxx/Pyspark_basics/blob/main/StructType___%26_StructField__.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
! pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=a7bcc6c2c059c5230ae04d3e82c320eddd28d4416a0bc9faf3ede1a4b15c6db2
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

## StructType__ & StructField__

- Pyspark StructType & StructField classes are to programmatically specify the schema to the dataFrame and create complex columns like Nested struct,array, and map columns
- StructType is collection of StructField

In [4]:
from pyspark.sql.types import StringType,StructField,StructType,IntegerType
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('structType_&_structField').getOrCreate()

In [6]:
data = [(1,'Shah',50000),
        (2,'Micheal',75000),
        (3,'Mia',10000),
        (4,'Daniel',2500),
        (5,'Johnson',6000)]
schema = StructType(
    [StructField(name='Id',      dataType=IntegerType(),nullable=True),\
     StructField(name='Emp_name',dataType=StringType(),nullable=True),\
     StructField(name='Salary',  dataType=IntegerType(),nullable=True),])

df = spark.createDataFrame(data=data,schema=schema)
df.printSchema()
df.show()

root
 |-- Id: integer (nullable = true)
 |-- Emp_name: string (nullable = true)
 |-- Salary: integer (nullable = true)

+---+--------+------+
| Id|Emp_name|Salary|
+---+--------+------+
|  1|    Shah| 50000|
|  2| Micheal| 75000|
|  3|     Mia| 10000|
|  4|  Daniel|  2500|
|  5| Johnson|  6000|
+---+--------+------+

## Defining Nested structType object struct

In [20]:
data = [(1,('Shah','sha'),50000),
        (2,('Micheal','Jackson'),75000),
        (3,('Mia','Sharma'),10000),
        (4,('Daniel','jacob'),2500),
        (5,('John','cena'),6000)]

# here Emp_name column is not string type, its a complex type or nested type
struct_name = StructType([\
                           StructField('First_name',StringType()),\
                           StructField('last_name',StringType())
                           ])
schema = StructType([\
                     StructField('Id',dataType=IntegerType()),\
                     StructField('Emp_name',dataType=struct_name),\
                     StructField('salary',dataType=IntegerType()),\
                     ])
spark.createDataFrame(data,schema).show()
spark.createDataFrame(data,schema).printSchema()

+---+------------------+------+
| Id|          Emp_name|salary|
+---+------------------+------+
|  1|       {Shah, sha}| 50000|
|  2|{Micheal, Jackson}| 75000|
|  3|     {Mia, Sharma}| 10000|
|  4|   {Daniel, jacob}|  2500|
|  5|      {John, cena}|  6000|
+---+------------------+------+

root
 |-- Id: integer (nullable = true)
 |-- Emp_name: struct (nullable = true)
 |    |-- First_name: string (nullable = true)
 |    |-- last_name: string (nullable = true)
 |-- salary: integer (nullable = true)

In [10]:
struct_name

StructType([StructField('First_name', StringType(), True), StructField('last_name', StringType(), True)])