<a href="https://colab.research.google.com/github/Vampaxx/Pyspark_basics/blob/main/unionByName.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
! pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 2.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=065055258e5d1342b371b5d47b922736706b30b778f7158d59464f1dd0a11273
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [3]:
from pyspark.sql.types import (StringType,StructField,
                               StructType,IntegerType,
                               ArrayType,MapType)
from pyspark.sql import SparkSession

from pyspark.sql.functions import col,explode,split
from pyspark.sql.functions import col,lit,when,expr,avg,max,round

In [4]:
spark  = SparkSession.builder.appName('unionByName').getOrCreate()

## unionByName

unionByName() let you to merge/union two dataframes with different number of columns (different schema) by passing allowMissingColumns with the value true

In [8]:
data1 = [(1,'Micheal','Male')]
schema1 = ['id','Emp_name','Gender']

data2 = [(1,'Micheal',2000)]
schema2 = ['id','Emp_name','Salary']


df1 = spark.createDataFrame(data1,schema1)
df2 = spark.createDataFrame(data2,schema2)

df1.show()
df2.show()


print('UnionAll')
df1.union(df2).show()
## union function is merge table based on the index, not column name

## ie, 0 th index to 0th index on 2nd table ,1st index to 1 st index  on second table,and soon

+---+--------+------+
| id|Emp_name|Gender|
+---+--------+------+
|  1| Micheal|  Male|
+---+--------+------+

+---+--------+------+
| id|Emp_name|Salary|
+---+--------+------+
|  1| Micheal|  2000|
+---+--------+------+

UnionAll
+---+--------+------+
| id|Emp_name|Gender|
+---+--------+------+
|  1| Micheal|  Male|
|  1| Micheal|  2000|
+---+--------+------+

In [12]:
df1.unionByName(allowMissingColumns=True,other=df2).show()

df1.unionByName(allowMissingColumns=False,other=df2).show()

+---+--------+------+------+
| id|Emp_name|Gender|Salary|
+---+--------+------+------+
|  1| Micheal|  Male|  NULL|
|  1| Micheal|  NULL|  2000|
+---+--------+------+------+

AnalysisException: ignored