<a href="https://colab.research.google.com/github/Vampaxx/Pyspark_basics/blob/main/union()_%26_unionAll().ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=dabfa813bef55aa1b7b12dc1a6ea918f29e353b166253c41bbcb73362418c103
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [2]:
from pyspark.sql.types import (StringType,StructField,
                               StructType,IntegerType,
                               ArrayType,MapType)
from pyspark.sql import SparkSession

from pyspark.sql.functions import col,explode,split
from pyspark.sql.functions import col,lit,when,expr

In [3]:
spark  = SparkSession.builder.appName('union &unionAll').getOrCreate()

## union() & unionAll()

- **union() & unionAll()** transformation are used to merge two ore more DataFrame's of same schema or structure

- union() and unionAll() method merges two dataframes and return the new Dataframe with all rows from two Dataframes regardless of duplicate data.

- To remove duplicates use distinct() function.

In [16]:
data1 = [
    (1,'Micheal','Male',2312,'IT'),\
    (2,'Jackson','Male',1245,'HR'),\
    (3,'Mithila','Female',1451,'HR'),\
    (3,'Mithila','Female',1451,'HR'),\
]
data2 = [
    (1,'Micheal','Male',2312,'IT'),\
    (4,'Daniel','Female',641,'R&D'),\
    (5,'Johnson','Male',5645,'Payroll')
]

schema = ['Emp_id','Emp_name','Gender','Salary','Department']

df1 = spark.createDataFrame(data1,schema)
df2 = spark.createDataFrame(data2,schema)

In [17]:
df1.union(df2).show()

+------+--------+------+------+----------+
|Emp_id|Emp_name|Gender|Salary|Department|
+------+--------+------+------+----------+
|     1| Micheal|  Male|  2312|        IT|
|     2| Jackson|  Male|  1245|        HR|
|     3| Mithila|Female|  1451|        HR|
|     3| Mithila|Female|  1451|        HR|
|     1| Micheal|  Male|  2312|        IT|
|     4|  Daniel|Female|   641|       R&D|
|     5| Johnson|  Male|  5645|   Payroll|
+------+--------+------+------+----------+

In [19]:
new_df = df1.unionAll(df2)
new_df.show()

+------+--------+------+------+----------+
|Emp_id|Emp_name|Gender|Salary|Department|
+------+--------+------+------+----------+
|     1| Micheal|  Male|  2312|        IT|
|     2| Jackson|  Male|  1245|        HR|
|     3| Mithila|Female|  1451|        HR|
|     3| Mithila|Female|  1451|        HR|
|     1| Micheal|  Male|  2312|        IT|
|     4|  Daniel|Female|   641|       R&D|
|     5| Johnson|  Male|  5645|   Payroll|
+------+--------+------+------+----------+

- If we use ** unionAll() ** the result will include all rows from DataFrame including duplicates  ------>>>> Its in SQL

- If we use ** union() ** the result only include distinct values from dataframes            ------>>>> Its in SQL

- In PySpark, both functions perform the same operation; in each function, duplicates are not removed.

In [20]:
## How to remove duplicate rows of datas from dataframes

new_df.distinct().show()

+------+--------+------+------+----------+
|Emp_id|Emp_name|Gender|Salary|Department|
+------+--------+------+------+----------+
|     2| Jackson|  Male|  1245|        HR|
|     1| Micheal|  Male|  2312|        IT|
|     3| Mithila|Female|  1451|        HR|
|     4|  Daniel|Female|   641|       R&D|
|     5| Johnson|  Male|  5645|   Payroll|
+------+--------+------+------+----------+