<a href="https://colab.research.google.com/github/Vampaxx/Pyspark_basics/blob/main/WithcolumnRenamed.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 3.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=5e2f3c2deb1ae57782539185909d509adca9bf2f2b74158a5a6cd10f8905c562
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
csv_file = ('/content/drive/MyDrive/Pyspark/datas/Clean_Dataset.csv')

In [4]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col,lit,when

# create session
spark = SparkSession.builder.appName('withcolumnRenamd').getOrCreate()

In [5]:
data = [(1,'Shah',50000),
        (2,'Micheal',75000),
        (3,'Mia',10000),
        (4,'Daniel',2500),
        (5,'Johnson',6000)]
columns = ['Id','Emp_name','Salary']
df = spark.createDataFrame(data,schema = columns)
df.show()

+---+--------+------+
| Id|Emp_name|Salary|
+---+--------+------+
|  1|    Shah| 50000|
|  2| Micheal| 75000|
|  3|     Mia| 10000|
|  4|  Daniel|  2500|
|  5| Johnson|  6000|
+---+--------+------+

In [6]:
df.withColumnRenamed('Salary','Emp_salary').show()

+---+--------+----------+
| Id|Emp_name|Emp_salary|
+---+--------+----------+
|  1|    Shah|     50000|
|  2| Micheal|     75000|
|  3|     Mia|     10000|
|  4|  Daniel|      2500|
|  5| Johnson|      6000|
+---+--------+----------+